__pycache__
.venv

.next
node_modules

# typescript
*.tsbuildinfo
next-env.d.ts

.DS_Store

.env
# local env files
.env*.local

skillpilot-ssh-key.pub
skillpilot-ssh-key

.playwright-cli
.skillpilot

config/cameras.json5